@media screen and (min-width:960px){
    .nav-menuitem__ul{
        position: absolute;
        z-index: 5;
    }
    .down__menuitem{
        display: block;
        position: absolute;
        z-index: 10;
        width: 100vw;
        height: 60vh;
        background-color:rgba(49,49,49,0.8); 
    }

}